[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
psycopg2 = "*"

[dev-packages]
ansible-lint = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
