{
    # Global options
    email akashgurava@outlook.com
    
    # Use internal CA for .lan domains
    local_certs

    servers :443 {
		name https
	}
	
	servers :80 {
		name http
        protocols h1 h2c
	}

    servers {
		metrics
	}

    log default {
		output stdout
		format json
		include http.log.access admin.api
	}

    admin :2019
}

(internal_tls) {
 tls internal {
  # Add this line to skip OCSP stapling for internal certs
  skip_ocsp
 }
}

blocky.lan {
    tls internal
    reverse_proxy localhost:4000
    log
}

prometheus.lan {
    tls internal
    reverse_proxy localhost:9090
    log
}

grafana.lan {
    tls internal
    reverse_proxy localhost:3000
    log
}

node-exporter.lan {
    tls internal
    reverse_proxy localhost:9100
    log
}

simon.lan {
    tls internal
    reverse_proxy localhost:9184
    log
}

jellyfin.lan {
    tls internal
    reverse_proxy localhost:8096
    log
}

certs.lan {
    tls internal
    root * "/Users/akash/config/caddy/caddy/pki/authorities/local/"
    file_server browse
}

// 6113.